# Supabase Connection Keys
VITE_SUPABASE_URL=https://anlupvghgehgjwkesrhi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFubHVwdmdoZ2VoZ2p3a2VzcmhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4NjU3NTUsImV4cCI6MjA5NzQ0MTc1NX0.Qvs8K3txAg7stH6bE97R2CzGQE3rDflhxarcfzI9hjo
